/* Reset Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}




/* global style */
h1 {
    font-size: 350%;

}

h3 {
    font-size: 30px;
    padding-bottom: 4%;

}

p {
    font-size: 150%;
    padding: 4%;
    color: rgb(154, 154, 149);

}



.container1 {
    width: 80%;
    margin: auto;
}

.img {
    font-size: 100px;
}

.container {
    width: 30%;
    margin-left: 10%;
    text-align: left;
    padding-top: 7%;


}

.butt-name {
    margin-top: 2%;
    width: 30%;
    padding: 1%;
    background-color: transparent;
    color: white;
    border: 2px solid;
    text-align: center;
}



.text-white {
    color: white;
    font-size: 100%;
}

.d-inline-block {
    display: inline-block;

}

.d1-inline-block {
    display: inline-block;
    box-sizing: content-box;

}

.float-right {
    float: right;
}



.bg-black {
    background-color: black;
    height: 40px;
}

.form-box {
    width: 25%;
    margin-top: 8%;
    margin-right: 7%;
    padding-top: 2%;

    background: rgb(255, 255, 255);
}

h3 {
    color: #ccc;
    text-align: center;
}



form input {

    width: 90%;
    margin-left: 4%;
    padding: 12px 10px;
    margin-bottom: 3%;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: white;
    font-size: 14px;
    outline: none;

}

form button {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: orange;
    color: white;
    border: none;
    margin-top: 4%;
    font-size: 16px;
    cursor: pointer;
}


.form-box span {
    color: orange;
}





/* position ==> static(default) , fixed , sticky , relative , absolute */
/* top , left , bottom , right , z-index */

/* custom style */


nav {
    padding: 3% 0%;
    position: sticky;
    top: 0;
    z-index: 999999;
}

nav ul {
    width: 45%;
}

nav li {
    margin-left: 10%;
}

span {
    color: orange;
    font-size: 100%;
}

section {
    background-image: url(img.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    margin-top: 0%;
    background-size: 100% 100%;
}

.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, .621);
}